* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header {
  width:100%;
  height:200px;
  background-image:url(img/box1.jpg);
  background-position:center;
}
.second {
  width:100%;
  height:200px;
  background-image:url(img/box2.jpg);
  background-position:center;
}
.third {
  width:100%;
  height:200px;
  background-image:url(img/box3.jpg);
  background-position: center;
}
.forth {
  width:100%;
  height:200px;
  background-image:url(img/box4.jpg);
  background-position: center;
}